
div {
	display: block;
}

body {
	margin:0px;
	padding:0px;
	font:12px Verdana;
	color:#222;
	min-width:320px;
}
.width-fix {
	max-width:1280px;
	margin:auto;
	position:relative;
}
#header {
	position:relative;
	background:#2e6db1;
	z-index:1000;
	padding:0;
}
#header #logo {
	padding:20px 15px 10px 10px
}
#header #logo a {
	display:block;
	width:215px;
	height:44px;
	background-image:url(/img/mingle_logo_white.png);
	background-repeat:no-repeat;
	background-size:215px 44px;
}
/*
#header #navigation, #header #navigation-lite {
	position:absolute;
	top:38px;
	right:5px;
}
#header #navigation ul {
padding: 5px 10px;
}   
*/

.banner-nav {
	display: none;
}

.banner-nav, .banner-nav-lite {
	position:absolute;
	top:38px;
	right:5px;
}

.banner-nav, .banner-nav-liteul {
	padding: 5px 10px;
}

/*
#header #navigation a{color:#fff}
#header #navigation>.menu>li>a,#header #navigation #controls .menu>li>a{line-height:40px}#header #navigation>.menu>li:hover a,#header #navigation #controls .menu>li:hover>a{color:#00599c}#header #navigation #fc-logo:hover{background:none;border-radius:0}#header #navigation .has-dd:hover{background:#fff;box-shadow:0px 3px 6px rgba(0,0,0,0.3)}#header #navigation ul>li{border-top:none}
#controls { height: 56px; background: #014fa2; position: relative; z-index: 999; }
*/

li {
text-align: -webkit-match-parent;
}

.header-label {
font-weight: bold;
font-size: 1.2em;
}

.nav-right {
    position: absolute;
    top: 0px;
    left: 156px;
}

.nav-left {
    position: absolute;
    top: 0px;
    margin-left: 5px;
    height:55px;
}

a:hover {
    cursor:pointer;
}

/* Root links */

.nav-head a,
.nav-head a:link,
.nav-head a:visited {
    text-decoration: none;
    color: #fff;
    padding: 8px 10px;
}


.nav-head a:hover {
  color: #D11600;
  background-color: #fff;
}

.control a,
.control a:link,
.control a:visited {
    text-decoration: none;
    color: #fff;
    padding: 12px 2px;
    height: 32px;
}

.control a:hover {
  color: #D11600;
  background-color: #fff;
}

.control-root a:link {
	background-color: #fff;
	color: #D11600;
}

.dropdown-menu-root > a:link {
	background-color: #000;
	color: #000 !important; /*#D11600;*/
}

.nav-head {
    color: #000 !important;
}

.dropdown-menu-items a,
.dropdown-menu-items a:link,
.dropdown-menu-items a:visited {
	color: #014FA2;
	text-decoration: none;
	padding: 2px 10px 2px 30px;
}

.dropdown-menu-items a:hover {
		color: #D11600;
}
.dropdown-menu-items {
	background: #fff;
	/*
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	*/
	box-shadow: 0px 1px 1px 1px #bbbbbb;
}



/*** ESSENTIAL STYLES ***/
.dropdown-menu {
    /*white-space: nowrap;*/
    display: inline-block;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
    margin: 0px 4px 10px 0px;
}
.dropdown-menu,
.dropdown-menu ul {
    padding: 0;
    list-style: none;
}
.dropdown-menu ul {
		display: none;		
    position: absolute;
    z-index: 1000000;
}

.dropdown-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    /* IE7 inline-block and padding fix */
    *display: inline;
    *zoom: 1;
    *vertical-align: bottom;
}

.dropdown-menu li a {
    display: block;
}
.dropdown-menu ul li {
    position: relative;
    display: block;
}

.dropdown-menu-items .subtitle {
	 font-size: 14px;
	 padding: 2px 10px 2px 15px;
}

/*
.subtitle {
	font-size: 1.1em;
	padding-bottom: 8px;
}

.subtitle {
	padding: 2px 10px 2px 200px;
}
*/

#controls { 
    height: 56px;
	background: #014fa2; 
	position: relative; 
	z-index: 999;
}


.searchbar {
height: 55px;
}

.product-search .term {
position: relative;
width: 100%;
left: 0px;
line-height: 24px;
background: white;
padding: 0;
border: none;
color: #000;
line-height: 28px;
text-indent: 5px;
outline: none;
}

form select {
    padding: 11px 0 11px 10px;
    border: 1px solid #c8ccce;
    min-width: 185px;
    margin: 0;    
}

form input[type="text"], form input[type="password"], form input[type="url"], form input[type="email"], form input[type="tel"], form input[type="date"], form input[type="number"] {
line-height: 36px;
height: 36px;
text-indent: 10px;
border-radius: 0px;
border: 1px solid #c8ccce;
min-width: 10px;
margin: 0;
}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
padding: 1px 0px;
}
input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}

input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
input, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}
.product-search {
height: 40px;
padding: 2px;
background: #fff;
top: 5px;
margin: 0 500px 0 280px;
}

form {
display: block;
}

body {
font: 12px Verdana;
color: #222;
}

.relative {
position: relative;
}


button.action, button[type='submit'], button.submitButton, input[type='button'].action, input[type='button'][type='submit'], input[type='button'].submitButton, input[type='submit'].action, input[type='submit'][type='submit'], input[type='submit'].submitButton, .button.action, .button[type='submit'], .button.submitButton {
background-color: #D11600 !important;
}

input[type='submit']:hover {
	background-color: #000 !important;
	
}

button, input[type='button'], input[type='submit'], .button {
display: inline-block;
margin: 0 5px 5px 0;
border: 0;
background-color: #D11600;
color: #fff !important;
padding: 0 1em;
font-family: Verdana;
cursor: pointer;
white-space: nowrap;
font-weight: normal;
line-height: 38px;
min-height: 38px;
-webkit-appearance: none;
-moz-appearance: none;
}


.product-search input.btn-search, .product-search input.btn-search:hover {
position: absolute;
top: 0;
right: 4px;
padding: 0;
margin: 0;
font-weight: bold;
border: 0;
width: 40px;
height: 40px;
min-height: 0;
background: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/control-icons.png) no-repeat;
background-image/*\**/: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/header-icons-ie.png) \9;
background-size: 650px;
background-position: -520px -0px;
text-indent: -999px;
line-height: 0;
color: white;
cursor: pointer;
border-radius: 0px;
}



input[type='submit'], input[type='button'] {
font-size: 100%;
}

/*
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
padding: 1px 6px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
}

input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: push-button;
white-space: pre;
}
*/

input, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}

input, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

input, textarea, keygen, select, button, isindex, meter, progress {
-webkit-writing-mode: horizontal-tb;
}

.header-sprite {
position: relative;
width: 45px;
height: 45px;
top: -8px;
background-image: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/control-icons.png);
background-image/*\**/: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/header-icons-ie.png) \9;
/*background-size: 586px;*/
background-size: 650px;
background-repeat: no-repeat;
}


.hdr-sprite-products {background-position:-0px 0px}
.control a:hover .hdr-sprite-products { background-position:-260px 0px; }
.hdr-sprite-products.js-active-dd { background-position:-260px 0px; }

.hdr-sprite-tools {background-position:-212px 0px}
.control a:hover .hdr-sprite-tools { background-position:-476px 0px; }
.hdr-sprite-tools.js-active-dd { background-position:-476px 0px; }

.hdr-sprite-account {background-position:-42px 0px}
.control a:hover .hdr-sprite-account { background-position:-302px 0px; }
.hdr-sprite-account.js-active-dd { background-position:-302px 0px; }

.hdr-sprite-store {background-position:-85px 0px}
.control a:hover .hdr-sprite-store { background-position:-346px 0px }
.hdr-sprite-store.js-active-dd { background-position:-346px 0px }

.hdr-sprite-cart {background-position:-129px 0}
.control a:hover .hdr-sprite-cart { background-position:-390px 0px }
.hdr-sprite-cart.js-active-dd { background-position:-390px 0px }

.hdr-sprite-list {background-position:-171px 0}
.control a:hover .hdr-sprite-list {background-position:-434px 0px}
.hdr-sprite-list.js-active-dd {background-position:-434px 0px}

.hdr-sprite-search {background-position:-568px 0px}
.hdr-sprite-search.js-active-dd {background-position:-610px 0px}

.follow-sprite {
position: relative;
width: 22px;
height: 22px;
top: 0px;
background-image: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/follow.png);
background-image/*\**/: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/follow.png) \9;
background-size: 46px;
background-repeat: no-repeat;
}

.follow-sprite-active {background-position:-24px 0px}




.left{float:left}
.right{float:right !important}

.desktop-only {
	display: none;
}

.searchbar { 
	display: none;
}






/**** footer ****/
.footer {
		padding-bottom: 10px;
    background-color: #2E6DB1;
}

.footd {
	  float:left; 
    background-color: #2E6DB1; 
    height: 100px;
}

#foot-done{ width:100%; }
#foot-dtwo{ width:100%; }
#foot-dthree{ width:100%; }
#foot-dfour{ width:100%; text-align:left;  }
#foot-copy {width: 100%; }

@media screen and (min-width: 500px) {
    #foot-done{ width:50%; }
    #foot-dtwo{ width:50% }
    #foot-dthree{ width:100%; }
    #foot-dfour{ width:100%; text-align:left;  }    
}

@media screen and (min-width: 900px) {
    #foot-done{ width:25%; }
    #foot-dtwo{ width:25%;}
    #foot-dthree{ width:25%;}
    #foot-dfour{ width:25%; }
}

.foot-menu {
	list-style: none;
	padding: 2px;
        line-height: 1.5em;
}

.foot-menu li {
    padding-left:10px;
}

.foot-menu a,
.foot-menu a:link,
.foot-menu a:visited {
	color: #fff;
	text-decoration: none;
	padding: 2px;
}

.foot-menu a:hover {
		color: #fff;
		text-decoration: underline;
}

.foot-menu .subtitle, .social-container .subtitle {
	color: #fff;
}

.social {
    background: url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/social-icons.png) no-repeat;
    background-image/*\**/:url(//mgl1939.s3-website-us-east-1.amazonaws.com/img/social-icons.png) \9;
    height: 44px;
    width: 44px;
    display: block;
    margin: 5px 5px;
    overflow: hidden;
}

a#facebook {
background-position: 0px 0px;
}
a#twitter {
background-position: -167px 0px;
}
a#youtube {
background-position: -112px -56px;
}
a#linkedin {
background-position: -222px 0px;
}

.social-container {
	height: 70px;
	max-width: 225px;
	margin: 16px 0px 0 5px;
	display: block;
	width: 225px;
}

#test-foot3, #foot-social-wrap {
		display: none;
}

#foot-acct-wrap {
	display: block;
}

@media screen and (min-width: 600px) {
	#test-foot3 {
		display: block;
	}
	#foot-acct-wrap {
		display: none;
	}	
}

@media screen and (min-width: 800px) {
	#foot-social-wrap {
			display: block;
	}
}

.section-title {
    font-size:125%; 
    font-weight:800; 
    padding-top:12px;
}

/******************************************************/

.red-square.icon {
    background: url('//mgl1939.s3-website-us-east-1.amazonaws.com/img/red_square.gif') 0px 50% no-repeat;
    padding-left: 12px;
}
.green-square.icon {
    background: url('//mgl1939.s3-website-us-east-1.amazonaws.com/img/green_square.gif') 0px 50% no-repeat;
    padding-left: 12px;
}

.jqmWindow {
    display: none;
    top: 10%;
    position: absolute;
    z-index: 10000;
    left: 8px;
    right: 8px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid black;
    /*padding: 12px;*/
    padding-bottom: 12px;
} 

.jqmOverlay {
    background-color:#000;
}  

.center {
    text-align: center;
}

.fake-table {
    display: table;
    width: 100%;
    border: 1px solid #c8ccce;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}
.fake-table .header {
    display: table-header-group;
    background: #eaeaea;
}
.fake-table .row {
    display: table-row;
    width: auto;
}
.fake-table .row .cell {
    display: table-cell;
    line-height: 1.5em;
    padding: 0.5em 15px;
    vertical-align: top;
    border-bottom: 1px solid #c8ccce;
}
.fake-table .header .cell {
    color: #555;
    font-weight: bold;
    border-bottom: 1px solid #c8ccce;
}
.fake-table .body {
    display: table-row-group;
}

.portlet {
    border-radius: 5px;
    margin: 0 0 1em 0;
    border: 1px solid #c8ccce; 
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.2em;
  position: relative;
  font-size: 1.3em;
}

.portlet-header-border {
  border-bottom: 1px solid #c8ccce;
}

.portlet-header-noborder {
  border-bottom: 0px;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.portlet-content {
  padding: 0.4em;
}

.prod-link {
    font-size: 125%;
}

@media screen and (max-width: 700px) {
    .fake-table .header {
        display: none;
    }
    .fake-table .row .cell {
        width: 100%;
        display: block;
        clear: left;
        min-height: 4px;
        border-bottom: 0px;
        padding: 10px;
    }
    .narrow {
        display: inline;
    }
    .center {
        text-align: left;
    }
    .fake-table .body .row:nth-child(even) .cell {
    background: #eaeaea;
    }
}

/*not sure if buttonset is used anymore*/
.ui-buttonset {
display: inline-block;
background-color: #eaeaea;
overflow: hidden;
margin: 0px 5px;
}
.ui-buttonset .ui-button, .ui-buttonset button {
float: left;
margin: 0px;
}

.ui-button {
background-color: #eaeaea;
color: #555;
cursor: pointer;
padding: 0 1em;
border: 1px solid #c8ccce;
overflow: hidden;
display: inline-block;
font-weight: bold;
margin: 0px 5px;
line-height: 38px;
min-height: 38px;
}

.ui-button:hover {
  color: #555;
  background: #c8ccce;
  border: 1px solid #999;
}

.ui-button-active {
    cursor: default;
    background: #c8ccce;
}

.ui-link-button {
    background-color:#cc0000;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    padding: 10px 12px 10px 12px;
    text-decoration:none;
    text-align:center;
}.ui-link-button:hover {
    color:#ffffff;
    opacity:0.7;
    filter:alpha(opacity=70);
}

h1, h2, h3, h4, h5, h6, p, ul, .indent, .indent2x {
    padding: 0.5em 15px;
    margin: 0;
    line-height: 1.5em;
}

@media screen and (min-width: 684px) {
    .label-input {
        float: left;
        width: 200px;
        text-align: left;
        margin-right: 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
    .form-field-no-caption {
        margin-left: 200px;
        padding-left: 0.5em;
    }
}

@media screen and (min-width: 984px) {
    .mid-view {
      display:table-cell !important;
      width: 40%;
      vertical-align: top;
    }        
}      
      
.label-input, .label-top {
  font-weight: 800;
  display:block;
  clear:both;
  padding-top:12px;
  padding-bottom: 8px;
}

.mid-view {
    display: none;
}

.header.active {
    background: #eaeaea;
    color: #00599c;    
    border-bottom: 1px solid #c8ccce;
}

.border {
    border: 1px solid #c8ccce;
}
.pad10 {
    padding: 10px;
}

.nowrap {
    white-space:nowrap;
}

.half{
    float: left;
    width: 50%;
}
.half:nth-child(2n+1) {
    clear: left;
}

@media screen and (max-width: 700px) {
    .content-desktop {
        display: none;
    }
    .content-desktop-msg {
        display: block;
    }
    .half{
        width:100%;
    }    
}